---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";
@font-face {

  font-family: 'notika-icon';

  src: url('/assets/font/notika-icon.ttf');

  }
/* append your custom style below */
.table.table-striped>thead>tr>th {
  border-bottom: 0px solid #ddd;
}
.table.table-striped>tbody>tr>td, .table.table-striped>tbody>tr>th, .table.table-striped>tfoot>tr>td, .table.table-striped>tfoot>tr>th, .table.table-striped>thead>tr>td, .table.table-striped>thead>tr>th{
	border-top: 0px solid #F5F5F5;
	font-size:14px;
	color:rgb(51, 51, 51);
	padding:15px;
}
#data-table-basic_filter label, #data-table-basic_length label{
	margin-bottom: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  content: '\e903';
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:before, .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  font-family: 'notika-icon';
  font-size: 14px;
  line-height: 35px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  font-size: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
  content: '\e91e';
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #00c292;
  color: #fff!important;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f1f1f1;
  vertical-align: top;
  color: #7E7E7E!important;
  margin: 0 2px;
  border: 0!important;
  line-height: 21px;
  box-shadow: none!important;
  font-size: 0.7rem;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  color: white !important;
  border: 0px solid #ccc;
  background: #00c292 !important;
}
#data-table-basic {
  padding: 20px 0px;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
padding-top:0px;
}
.dataTables_wrapper .dataTables_filter input {
  margin: 0!important;
  padding: 0px 0px 0px 10px;
}
.dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_filter label {
  width: 100%;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_filter input, .dataTables_filter select, .dataTables_length input, .dataTables_length select {
  border: 1px solid #34403e45;
  height: 35px;
  padding: 7px 15px;
  font-size: 13px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 100%;
  background-color: #fff;
  outline: none;
}
input[type=search] {
  -webkit-appearance: none;
}
input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  padding: 1px 2px;
}
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.dataTables_filter label {
  position: relative;
  font-size: 0;
}
.dataTables_filter label, .dataTables_length label {
  font-weight: 400;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
element.style {
}
.dataTables_wrapper .dataTables_filter {
    width: 40%;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333333;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
.dataTables_filter, .dataTables_length {
    padding: 20px 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
  padding-top: 0px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #333333;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
div {
  display: block;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
  padding-top: 0px;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #333333;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
div {
  display: block;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  color: white !important;
  border: 0px solid #ccc;
  background: #00c292 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  font-size: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f1f1f1;
  vertical-align: top;
  color: #7E7E7E!important;
  margin: 0 2px;
  border: 0!important;
  line-height: 21px;
  box-shadow: none!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
a:active, a:hover, a:focus {
  outline: 0 none;
  text-decoration: none;
}
a:hover {
  color: #00c292;
  text-decoration: none;
}
a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #333333;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:before, .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  font-family: 'notika-icon';
  font-size: 14px;
  line-height: 35px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  // content: '\e903';
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:before, .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  font-family: 'notika-icon';
  font-size: 14px;
  line-height: 35px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  font-size: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:before {
  // content: '\e91e';
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #00c292;
  color: #fff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f1f1f1;
  vertical-align: top;
  color: #7E7E7E!important;
  margin: 0 2px;
  border: 0!important;
  line-height: 21px;
  box-shadow: none!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  color: white !important;
  border: 0px solid #ccc;
  background: #00c292 !important;
}

element.style {
  width: 284px;
}
.table.table-striped>thead>tr>th {
  border-bottom: 0px solid rgb(221, 221, 221);
}
.table.table-striped>tbody>tr>td, .table.table-striped>tbody>tr>th, .table.table-striped>tfoot>tr>td, .table.table-striped>tfoot>tr>th, .table.table-striped>thead>tr>td, .table.table-striped>thead>tr>th {
  border-top: 0px solid #F5F5F5;
  font-size: 14px;
  color: #333;
  padding: 15px;
}
table.dataTable thead .sorting_asc {
  background-image: url(../images/sort_asc.png);
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  font-size: 14px;
  color: #333;
}
table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111111;
}
table.dataTable thead th, table.dataTable tfoot th {
  font-weight: bold;
}
table.dataTable, table.dataTable th, table.dataTable td {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
user agent stylesheet
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

#d-help-win {
  background-color: #FFFFFF;
  opacity: 0.96;
  display: none;
  width: 1000px;
  height: 600px;
  position: absolute;
  left: 10%;
  top: 25%;
  z-index: 999;
  border-radius: 16px;
  border: solid;
  border-width: thin;
  border-color: #083C3A;
  // box-shadow: 0 0 2px 5px rgb(0 0 0);
  // font-family: PingFangSC-Regular;
}
element.style {
  display: block;
}
#d-help-win #win-title {
  width: 100%;
  height: 40px;
  background: #000100;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
#d-help-win #win-title .close_2 {
  position: absolute;
  right: 10px;
  top: 6px;
  line-height: 25px;
  font-size: 30px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #999;
  cursor: pointer;
}
#d-help-win #win-content {
  overflow-y: scroll;
  height: 600px;
  width: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next:before, .dataTables_wrapper .dataTables_paginate .paginate_button.previous:before {
  font-family: 'notika-icon';
  font-size: 14px;
  line-height: 35px;
}
#d-help-win #win-content .help-gif {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  height: auto;
  margin: auto;
  border-color: #000000;
  border-width: medium;
  border: double;
}

