---
layout: page
---

<div class="post-content" style="text-align: justify;">
  &nbsp;&nbsp;&nbsp;Numerous third-party libraries introduced into client projects are
  not actually required, resulting in modern software being gradually
  bloated. Software developers may spend much unnecessary effort
  to manage the bloated dependencies: keeping the library versions
  up-to-date, making sure that heterogeneous licenses are compatible,
  and resolving dependency conflict or vulnerability issues.
  However, the prior debloating techniques can easily produce
  false alarms of bloated dependencies since they are less effective
  in <strong>analyzing Java reflections</strong>. Besides, the solutions given by the
  existing approaches for removing bloated dependencies may induce
  new issues that are not conducive to dependency management. <br/>
  &nbsp;&nbsp;&nbsp;To address the above limitations, in this paper, we developed a technique,
  <a href="https://slimming-fat.github.io/SLIMMING/"><strong>SLIMMING</strong></a>, to remove bloated dependencies from software
  projects reliably. Slimming statically analyzes the Java reflections
  that are commonly leveraged by <strong>popular frameworks</strong> (e.g., Spring
  Boot) and resolves the reflective targets via parsing <strong>configuration
  files</strong> (*.xml, *.yml and *.properties). By <strong>modeling string manipulations</strong>,
  Slimming fully resolves the string arguments of our
  concerned reflection APIs to identify all the required dependencies.
  More importantly, it helps developers analyze the debloating solutions
  by <strong>weighing the benefits against the costs of dependency
  management</strong>.<br/>
  &nbsp;&nbsp;&nbsp;Our evaluation results show that the static reflection
  analysis capability of Slimming outperforms all the other existing
  techniques with 97.0% of Precision and 98.8% of Recall. Compared
  with the prior debloating techniques, Slimming can reliably remove
  the bloated dependencies with a 100% test passing ratio and improve
  the rationality of debloating solutions. In our large-scale study in
  the Maven ecosystem, Slimming reported 484 bloated dependencies
  to 66 open-source projects. 38 reports (57.6%) have been confirmed
  by developers.
</div>

  <hr>
  <div class="post-content">
      <div class="logo">

           <img src="/assets/img/tool.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/SLIMMING"><strong> An effective automated tool for removing bloated dependencies</strong></a><br>
          </span>
      </div>
      <div class="logo">

           <img src="/assets/img/repository.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/ISSUE-REPORTS">
              <strong>Issue reports submission status<br></strong>
          </a>
          </span>
      </div>

      <div class="logo">

           <img src="/assets/img/download.svg" alt="avatar" height="50" width="50">

          <span>
              <a href="https://slimming-fat.github.io/Download-Datasets">
                  <strong>Download the dataSets<br></strong>
              </a>
          </span>
      </div>

  </div>

  <div id="d-help-win" class="d-help-win" style="display: none;">
      <div id="win-title">Help
          <span id="d-help-colse" clss="close_2" class="close_2">
              ×
          </span>
      </div>
      <div id="win-content">
          <center><strong><font size="4">A demo of Slimming</font></strong></center>
          <img src="/assets/img/guide.gif" alt="avatar">
      </div>
  </div>
