---
layout: page
refactor: true
panel_includes:
- toc
tail_includes:
- related-posts
- post-nav
- comments
---

{% include lang.html %}

<!-- <h1 data-toc-skip>{{ page.title }}</h1> -->

<!--
<div class="post-content">
  {{ content }}
</div>
 -->

<!--test  -->
<div class="table-wrapper">
  <table id="data-table-basic" class="table table-striped">
    <thead>
      <tr style="text-align: center;">
        <th>ID</th>
        <th>Project Name</th>
        <th>Stars</th>
        <th>Forks</th>
        <th>#Bloated Dependencies</th>
        <th>#Vulnerabilities</th>
        <th>#Dependency Conflicts</th>
        <th>#Incompatible Licenses</th>
        <th>#Outdated Dependencies</th>
        <th>Issue ID</th>
        <th>Stauts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          Tutorials
        </td>
        <td style="text-align: center">
          34.7k
        </td>
        <td style="text-align: center">
          53.9k
        </td>
        <td style="text-align: center">8</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          <a href="https://github.com/eugenp/tutorials/pull/13568">#13568</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          Openapi-Generator
        </td>
        <td style="text-align: center">
          17.2k
        </td>
        <td style="text-align: center">
          5.5k
        </td>
        <td style="text-align: center">11</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          <a href="https://github.com/OpenAPITools/openapi-generator/pull/9768">#9768</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          3
        </td>
        <td style="text-align: center">
          Deeplearning4J
        </td>
        <td style="text-align: center">
          13.1k
        </td>
        <td style="text-align: center">
          5k
        </td>
        <td style="text-align: center">15</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/deeplearning4j/deeplearning4j/pull/9190">#9190</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
         4
        </td>
        <td style="text-align: center">
          Small-Spring
        </td>
        <td style="text-align: center">
          4.1k
        </td>
        <td style="text-align: center">
          1.2k
        </td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/fuzhengwei/small-spring/pull/56">#56</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          Jetcache
        </td>
        <td style="text-align: center">
          4k
        </td>
        <td style="text-align: center">
          930
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          4
        </td>
        <td style="text-align: center">
          <a href="https://github.com/alibaba/jetcache/pull/565">#565</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          Xchange
        </td>
        <td style="text-align: center">
          3.7k
        </td>
        <td style="text-align: center">
          1.9k
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/knowm/XChange/pull/4200">#4200</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          7
        </td>
        <td style="text-align: center">
          Vertx-Examples
        </td>
        <td style="text-align: center">
          3.4k
        </td>
        <td style="text-align: center">
          2.1k
        </td>
        <td style="text-align: center">16</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/vert-x3/vertx-examples/pull/429">#429</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          Immutables
        </td>
        <td style="text-align: center">
          3.3k
        </td>
        <td style="text-align: center">
          275
        </td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/immutables/immutables/pull/1382">#1382</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          9
        </td>
        <td style="text-align: center">
          Linkis
        </td>
        <td style="text-align: center">
          3.1k
        </td>
        <td style="text-align: center">
          1.1k
        </td>
        <td style="text-align: center">32</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          9
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/linkis/pull/1716">#1716</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          10
        </td>
        <td style="text-align: center">
          Spring-Boot-Quick
        </td>
        <td style="text-align: center">
          2.2k
        </td>
        <td style="text-align: center">
          873
        </td>
        <td style="text-align: center">11</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          <a href="https://github.com/vector4wang/spring-boot-quick/pull/32">#32</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          11
        </td>
        <td style="text-align: center">
          Azure-Sdk-For-Java
        </td>
        <td style="text-align: center">
          2k
        </td>
        <td style="text-align: center">
          1.8k
        </td>
        <td style="text-align: center">9</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          <a href="https://github.com/Azure/azure-sdk-for-java/pull/19070">#19070</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          12
        </td>
        <td style="text-align: center">
          Dubbo-Samples
        </td>
        <td style="text-align: center">
          2k
        </td>
        <td style="text-align: center">
          1.7k
        </td>
        <td style="text-align: center">10</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/dubbo-samples/pull/278">#278</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          13
        </td>
        <td style="text-align: center">
          Lemon
        </td>
        <td style="text-align: center">
          1.6k
        </td>
        <td style="text-align: center">
          1.6k
        </td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/xuhuisheng/lemon/pull/210">#210</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          14
        </td>
        <td style="text-align: center">
          Mycat2
        </td>
        <td style="text-align: center">
          1.5k
        </td>
        <td style="text-align: center">
          467
        </td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/MyCATApache/Mycat2/pull/694">#694</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          15
        </td>
        <td style="text-align: center">
          Ysomap
        </td>
        <td style="text-align: center">
          940
        </td>
        <td style="text-align: center">
          119
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/wh1t3p1g/ysomap/pull/18">#18</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          16
        </td>
        <td style="text-align: center">
          Swagger-Parser
        </td>
        <td style="text-align: center">
          694
        </td>
        <td style="text-align: center">
          498
        </td>
        <td style="text-align: center">7</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/swagger-api/swagger-parser/pull/1590">#1590</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          17
        </td>
        <td style="text-align: center">
          Tomee
        </td>
        <td style="text-align: center">
          419
        </td>
        <td style="text-align: center">
          687
        </td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/tomee/pull/852">#852</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          18
        </td>
        <td style="text-align: center">
          Tarsjava
        </td>
        <td style="text-align: center">
          388
        </td>
        <td style="text-align: center">
          166
        </td>
        <td style="text-align: center">9</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/TarsCloud/TarsJava/pull/170">#170</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          19
        </td>
        <td style="text-align: center">
          Javanotes
        </td>
        <td style="text-align: center">
          340
        </td>
        <td style="text-align: center">
          85
        </td>
        <td style="text-align: center">7</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/niumoo/JavaNotes/pull/1">#1</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          20
        </td>
        <td style="text-align: center">
          Openimaj
        </td>
        <td style="text-align: center">
          317
        </td>
        <td style="text-align: center">
          115
        </td>
        <td style="text-align: center">15</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          7
        </td>
        <td style="text-align: center">
          <a href="https://github.com/openimaj/openimaj/pull/317">#317</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          21
        </td>
        <td style="text-align: center">
          Tesseract4Java
        </td>
        <td style="text-align: center">
          289
        </td>
        <td style="text-align: center">
          88
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/tesseract4java/tesseract4java/pull/61">#61</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          22
        </td>
        <td style="text-align: center">
          Azure-Iot-Sdk-Java
        </td>
        <td style="text-align: center">
          192
        </td>
        <td style="text-align: center">
          237
        </td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/Azure/azure-iot-sdk-java/pull/1543">#1543</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          23
        </td>
        <td style="text-align: center">
          Jax-Rs2-Guide-Ii
        </td>
        <td style="text-align: center">
          175
        </td>
        <td style="text-align: center">
          147
        </td>
        <td style="text-align: center">10</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          <a href="https://github.com/feuyeux/jax-rs2-guide-II/pull/203">#203</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          24
        </td>
        <td style="text-align: center">
          Jax-Rs2-Guide-Ii
        </td>
        <td style="text-align: center">
          175
        </td>
        <td style="text-align: center">
          147
        </td>
        <td style="text-align: center">14</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          4
        </td>
        <td style="text-align: center">
          <a href="https://github.com/feuyeux/jax-rs2-guide-II/pull/36">#36</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          25
        </td>
        <td style="text-align: center">
          Combatlogx
        </td>
        <td style="text-align: center">
          134
        </td>
        <td style="text-align: center">
          44
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/SirBlobman/CombatLogX/pull/191">#191</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          26
        </td>
        <td style="text-align: center">
          Camel-Kafka-Connector
        </td>
        <td style="text-align: center">
          129
        </td>
        <td style="text-align: center">
          95
        </td>
        <td style="text-align: center">7</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/camel-kafka-connector/pull/1352">#1352</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          27
        </td>
        <td style="text-align: center">
          Quickstart
        </td>
        <td style="text-align: center">
          100
        </td>
        <td style="text-align: center">
          103
        </td>
        <td style="text-align: center">13</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          <a href="https://github.com/jbosstm/quickstart/pull/388">#388</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          28
        </td>
        <td style="text-align: center">
          Nerdronix
        </td>
        <td style="text-align: center">
          87
        </td>
        <td style="text-align: center">
          113
        </td>
        <td style="text-align: center">18</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          <a href="https://github.com/menacher/nerdronix/pull/3">#3</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          29
        </td>
        <td style="text-align: center">
          Wso2-Synapse
        </td>
        <td style="text-align: center">
          74
        </td>
        <td style="text-align: center">
          426
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          3
        </td>
        <td style="text-align: center">
          <a href="https://github.com/wso2/wso2-synapse/pull/1771">#1771</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          30
        </td>
        <td style="text-align: center">
          Quickbooks-V3-Java-Sdk
        </td>
        <td style="text-align: center">
          56
        </td>
        <td style="text-align: center">
          132
        </td>
        <td style="text-align: center">12</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          <a href="https://github.com/intuit/QuickBooks-V3-Java-SDK/pull/158">#158</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          31
        </td>
        <td style="text-align: center">
          Karate-Grpc
        </td>
        <td style="text-align: center">
          43
        </td>
        <td style="text-align: center">
          30
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/pecker-io/karate-grpc/pull/23">#23</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          32
        </td>
        <td style="text-align: center">
          Yuzhouwan
        </td>
        <td style="text-align: center">
          39
        </td>
        <td style="text-align: center">
          20
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/asdf2014/yuzhouwan/pull/343">#343</a>
        </td>
        <td style="text-align: center">
          Fixed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          33
        </td>
        <td style="text-align: center">
          Alldata
        </td>
        <td style="text-align: center">
          1.8k
        </td>
        <td style="text-align: center">
          692
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          3
        </td>
        <td style="text-align: center">
          <a href="https://github.com/alldatacenter/alldata/pull/50">#50</a>
        </td>
        <td style="text-align: center">
          Fixing
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          34
        </td>
        <td style="text-align: center">
          Springboot-Jwt-Starter
        </td>
        <td style="text-align: center">
          680
        </td>
        <td style="text-align: center">
          272
        </td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/bfwg/springboot-jwt-starter/pull/34">#34</a>
        </td>
        <td style="text-align: center">
          Fixing
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          35
        </td>
        <td style="text-align: center">
          Tez
        </td>
        <td style="text-align: center">
          428
        </td>
        <td style="text-align: center">
          403
        </td>
        <td style="text-align: center">9</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/tez/pull/127">#127</a>
        </td>
        <td style="text-align: center">
          Fixing
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          36
        </td>
        <td style="text-align: center">
          Amazon-Kinesis-Video-Streams-Producer-Sdk-Java
        </td>
        <td style="text-align: center">
          77
        </td>
        <td style="text-align: center">
          79
        </td>
        <td style="text-align: center">9</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          <a href="https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-java/pull/135">#135</a>
        </td>
        <td style="text-align: center">
          Fixing
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          37
        </td>
        <td style="text-align: center">
          Osm2World
        </td>
        <td style="text-align: center">
          481
        </td>
        <td style="text-align: center">
          118
        </td>
        <td style="text-align: center">17</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          3
        </td>
        <td style="text-align: center">
          <a href="https://github.com/tordanik/OSM2World/pull/174">#174</a>
        </td>
        <td style="text-align: center">
          Confirmed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          38
        </td>
        <td style="text-align: center">
          Kafka-Connect-Mq-Source
        </td>
        <td style="text-align: center">
          86
        </td>
        <td style="text-align: center">
          81
        </td>
        <td style="text-align: center">8</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          4
        </td>
        <td style="text-align: center">
          <a href="https://github.com/ibm-messaging/kafka-connect-mq-source/pull/83">#83</a>
        </td>
        <td style="text-align: center">
          Confirmed
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          39
        </td>
        <td style="text-align: center">
          Skywalking-Java
        </td>
        <td style="text-align: center">
          576
        </td>
        <td style="text-align: center">
          449
        </td>
        <td style="text-align: center">11</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          3
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/skywalking-java/pull/172">#172</a>
        </td>
        <td style="text-align: center">
          Rejected
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          40
        </td>
        <td style="text-align: center">
          Jeecg-Boot
        </td>
        <td style="text-align: center">
          35.5k
        </td>
        <td style="text-align: center">
          13.8k
        </td>
        <td style="text-align: center">8</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          11
        </td>
        <td style="text-align: center">
          <a href="https://github.com/jeecgboot/jeecg-boot/pull/4819">#4819</a>
        </td>
        <td style="text-align: center">
          Rejected
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          41
        </td>
        <td style="text-align: center">
          Datax
        </td>
        <td style="text-align: center">
          13.9k
        </td>
        <td style="text-align: center">
          5k
        </td>
        <td style="text-align: center">17</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          7
        </td>
        <td style="text-align: center">
          <a href="https://github.com/alibaba/DataX/pull/973">#973</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          42
        </td>
        <td style="text-align: center">
          Itstack-Demo-Design
        </td>
        <td style="text-align: center">
          5.7k
        </td>
        <td style="text-align: center">
          1.7k
        </td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          nan
        </td>
        <td style="text-align: center">
          <a href="https://github.com/fuzhengwei/itstack-demo-design/pull/57">#57</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          43
        </td>
        <td style="text-align: center">
          Mall4J
        </td>
        <td style="text-align: center">
          3.9k
        </td>
        <td style="text-align: center">
          1.1k
        </td>
        <td style="text-align: center">15</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          7
        </td>
        <td style="text-align: center">
          <a href="https://github.com/gz-yami/mall4j/pull/18">#18</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          44
        </td>
        <td style="text-align: center">
          Dataspherestudio
        </td>
        <td style="text-align: center">
          2.7k
        </td>
        <td style="text-align: center">
          945
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/WeBankFinTech/DataSphereStudio/pull/584">#584</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          45
        </td>
        <td style="text-align: center">
          Pay-Java-Parent
        </td>
        <td style="text-align: center">
          2.4k
        </td>
        <td style="text-align: center">
          864
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/egzosn/pay-java-parent/pull/92">#92</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          46
        </td>
        <td style="text-align: center">
          Springboot-Notebook
        </td>
        <td style="text-align: center">
          2.3k
        </td>
        <td style="text-align: center">
          931
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          5
        </td>
        <td style="text-align: center">
          <a href="https://github.com/chengxy-nds/Springboot-Notebook/pull/24">#24</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          47
        </td>
        <td style="text-align: center">
          Java-Sec-Code
        </td>
        <td style="text-align: center">
          2k
        </td>
        <td style="text-align: center">
          549
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          <a href="https://github.com/JoyChou93/java-sec-code/pull/75">#75</a>
        </td>
        <td style="text-align: center">
          Rejected
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          48
        </td>
        <td style="text-align: center">
          Scouter
        </td>
        <td style="text-align: center">
          2k
        </td>
        <td style="text-align: center">
          544
        </td>
        <td style="text-align: center">6</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          <a href="https://github.com/scouter-project/scouter/pull/925">#925</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          49
        </td>
        <td style="text-align: center">
          Ninja
        </td>
        <td style="text-align: center">
          1.9k
        </td>
        <td style="text-align: center">
          537
        </td>
        <td style="text-align: center">8</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          4
        </td>
        <td style="text-align: center">
          <a href="https://github.com/ninjaframework/ninja/pull/746">#746</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          50
        </td>
        <td style="text-align: center">
          Aws-Sdk-Java-V2
        </td>
        <td style="text-align: center">
          1.8k
        </td>
        <td style="text-align: center">
          732
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/aws/aws-sdk-java-v2/pull/3192">#3192</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          51
        </td>
        <td style="text-align: center">
          X-Springboot
        </td>
        <td style="text-align: center">
          1.8k
        </td>
        <td style="text-align: center">
          666
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/yzcheng90/X-SpringBoot/pull/31">#31</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          52
        </td>
        <td style="text-align: center">
          Yshopmall
        </td>
        <td style="text-align: center">
          1.2k
        </td>
        <td style="text-align: center">
          462
        </td>
        <td style="text-align: center">17</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          9
        </td>
        <td style="text-align: center">
          <a href="https://github.com/guchengwuyue/yshopmall/pull/23">#23</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          53
        </td>
        <td style="text-align: center">
          Ruoyi-Cloud
        </td>
        <td style="text-align: center">
          904
        </td>
        <td style="text-align: center">
          548
        </td>
        <td style="text-align: center">35</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/yangzongzhuan/RuoYi-Cloud/pull/36">#36</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          54
        </td>
        <td style="text-align: center">
          Protege
        </td>
        <td style="text-align: center">
          864
        </td>
        <td style="text-align: center">
          228
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/protegeproject/protege/pull/1051">#1051</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          55
        </td>
        <td style="text-align: center">
          Spring-Amqp-Samples
        </td>
        <td style="text-align: center">
          571
        </td>
        <td style="text-align: center">
          394
        </td>
        <td style="text-align: center">7</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          0
        </td>
        <td style="text-align: center">
          <a href="https://github.com/spring-projects/spring-amqp-samples/pull/65">#65</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          56
        </td>
        <td style="text-align: center">
          Jmeter-Plugins
        </td>
        <td style="text-align: center">
          527
        </td>
        <td style="text-align: center">
          393
        </td>
        <td style="text-align: center">11</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">
          6
        </td>
        <td style="text-align: center">
          <a href="https://github.com/undera/jmeter-plugins/pull/523">#523</a>
        </td>
        <td style="text-align: center">
          Rejected
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          57
        </td>
        <td style="text-align: center">
          Jprotobuf-Rpc-Socket
        </td>
        <td style="text-align: center">
          515
        </td>
        <td style="text-align: center">
          219
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/baidu/Jprotobuf-rpc-socket/pull/84">#84</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          58
        </td>
        <td style="text-align: center">
          Ice4J
        </td>
        <td style="text-align: center">
          412
        </td>
        <td style="text-align: center">
          220
        </td>
        <td style="text-align: center">10</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">3</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/jitsi/ice4j/pull/258">#258</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          59
        </td>
        <td style="text-align: center">
          Asterisk-Java
        </td>
        <td style="text-align: center">
          379
        </td>
        <td style="text-align: center">
          290
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          1
        </td>
        <td style="text-align: center">
          <a href="https://github.com/asterisk-java/asterisk-java/pull/383">#383</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          60
        </td>
        <td style="text-align: center">
          Msf4J
        </td>
        <td style="text-align: center">
          376
        </td>
        <td style="text-align: center">
          359
        </td>
        <td style="text-align: center">9</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          4
        </td>
        <td style="text-align: center">
          <a href="https://github.com/wso2/msf4j/pull/582">#582</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          61
        </td>
        <td style="text-align: center">
          Kontraktor
        </td>
        <td style="text-align: center">
          343
        </td>
        <td style="text-align: center">
          48
        </td>
        <td style="text-align: center">11</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">
          8
        </td>
        <td style="text-align: center">
          <a href="https://github.com/RuedigerMoeller/kontraktor/pull/119">#119</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          62
        </td>
        <td style="text-align: center">
          Myblog
        </td>
        <td style="text-align: center">
          322
        </td>
        <td style="text-align: center">
          88
        </td>
        <td style="text-align: center">12</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          12
        </td>
        <td style="text-align: center">
          <a href="https://github.com/xiongsihao/myblog/pull/8">#8</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          63
        </td>
        <td style="text-align: center">
          Milton2
        </td>
        <td style="text-align: center">
          161
        </td>
        <td style="text-align: center">
          117
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">
          4
        </td>
        <td style="text-align: center">
          <a href="https://github.com/miltonio/milton2/pull/176">#176</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          64
        </td>
        <td style="text-align: center">
          Shardingsphere-Elasticjob-Ui
        </td>
        <td style="text-align: center">
          150
        </td>
        <td style="text-align: center">
          91
        </td>
        <td style="text-align: center">4</td>
        <td style="text-align: center">2</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/apache/shardingsphere-elasticjob-ui/pull/153">#153</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          65
        </td>
        <td style="text-align: center">
          Jacorb
        </td>
        <td style="text-align: center">
          71
        </td>
        <td style="text-align: center">
          82
        </td>
        <td style="text-align: center">5</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">1</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          2
        </td>
        <td style="text-align: center">
          <a href="https://github.com/JacORB/JacORB/pull/299">#299</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
      <tr>
<td style="text-align: center">
          66
        </td>
        <td style="text-align: center">
          Karamel
        </td>
        <td style="text-align: center">
          37
        </td>
        <td style="text-align: center">
          22
        </td>
        <td style="text-align: center">9</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">0</td>
        <td style="text-align: center">
          7
        </td>
        <td style="text-align: center">
          <a href="https://github.com/karamelchef/karamel/pull/206">#206</a>
        </td>
        <td style="text-align: center">
          Pending
        </td>

      </tr>
    </tbody>
  </table>


</div>

<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/data-table-act.js"></script>
